.places{
    display: flex;
    flex-direction: column;
    max-width: 984px;
    min-width: 320px;
    margin: 0 auto;
   
    font-family: 'Inter', Arial, sans-serif;
    
    

    
}
@media screen and (max-width: 1140px) {
    .places{
        max-width:928px;
     

    }

}
@media screen and (max-width: 984px) {
    .places{
        max-width:720px;
        margin-left: 24px;

    }

}
@media screen and (max-width: 568px) {
    .places{
        max-width: 320px;
        margin-left: 0;
    

    }

}