.lead{
    max-width: 984px;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    font-family: 'Inter', Arial, sans-serif;
    
    
}