.lead{
    max-width: 984px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
    font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 1140px){
    .lead{
        width: 91%;
    }
    
}

@media screen and (max-width: 1140px){
    .lead{
        width: 91%;
    }
    
}
@media screen and (max-width: 984px){
    .lead{
        width: 100%;
    }
    
}
    
