.place__paragraphs{
  grid-area: text;
  margin: 0;
  padding: 0;
  display: flex;
  max-width: 484px;
  

}
@media screen and (max-width:568px) {
  .place__paragraphs{
    max-width: 288px;
   
    
  }
  
  
}