.footer__link {
    color: white;
    text-decoration: none;
    margin-right: 18px;
}

.footer__link:hover {
    opacity: .5;
}

@media screen and (max-width: 568px) {
    .footer__link {
        margin-left: 0;

    }

}