.place__paragraph{
    font-size: 18px;
    line-height: 29px;
    max-width: 484px;
    min-height: 100px;
    padding: 0;
    margin: 0;
    margin-bottom: 26px;
    
    
    
}
@media screen and (max-width:568px) {
    .place__paragraphs{
      max-width: 90%;
      
    }
    
    
  }
    