.intro {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 148px;
    max-width: 690px;
    font-family: 'Inter', Arial, sans-serif;

}

@media screen and (max-width: 1140px) {
    .intro {
        padding-left: 48px;
        

    }
}

@media screen and (max-width: 984px) {
    .intro {
        max-width: 768px;
        padding-left: 24px;
        

    }
}
@media screen and (max-width: 568px){
    .intro {
        max-width: 288px;
        padding-left: 16px;

    }
}