.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', Arial, sans-serif;
    
}
@media screen and (max-width: 568px){
    .footer{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        
    }
}