.place__url-heading{
    color: #AAAAAA;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    
}
@media screen and (max-width: 984px){
    .place__url-heading{
        line-height: 12px;

    }
}
